
  <nav id="manu" class="navbar navbar-expand-lg navbar-light bg-dark ">
    
    <a class="navbar-brand text-light" href="#"> 
    <img src="https://raw.githubusercontent.com/ebasantos/estoque-web-app-front-end/master/src/img/icons8-sell-stock-96.png" alt="Self-Stock - controle seu patrimônio!">Self-Stock</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="#">Usuario<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Fornecedores</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Clientes</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>

<div class="container">
  <br/>
  <div class="row">
    <div  class="jumbotron bg-transparent text-light col">
      <h1 class="display-4">Bem vindo ao {{title}}!</h1>
      <p class="lead">Controle seu patrimônio, de maneira agil e inteligente.</p>
      <hr class="my-4">
      <p>Saiba mais...</p>
      <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Comece Agora!</a>
      </p>
    </div>
  </div>
</div>

